---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'TORSKY.xyz | Trusted Blockchain Validator',
};
---

<Layout metadata={metadata}>
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=6a50d8c6033ecd05221a3d40&product=sop' async='async'></script>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'Stake', href: '#stake' },
        { text: 'Rewards', href: '#rewards' },
        { text: 'PoS', href: '#pos' },
        
        { text: 'Stake ETH', href: '/home/stakeETH' },
      ]}
      actions={[
        {
          text: 'EXCHANGE',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="What is Bitcoin Staking?"
    tagline=""
    
    actions={[
      {
        variant: 'primary',
        text: 'Stake NOW',
        href: '#',
        target: '',
        icon: 'tabler:steam',
      },
      {
        text: '',
        text: 'BUY.Wallet',
        href: '#',
        target: '',
        icon: 'tabler:wallet',
      },
    ]}
  >
    <Fragment slot="subtitle">
     Bitcoin staking refers to various third-party methods used to generate yield on Bitcoin holdings. Because Bitcoin runs on a Proof-of-Work consensus model, native staking like that found on Proof-of-Stake blockchains (such as Ethereum) is not possible on the Bitcoin network. Instead, users looking to stake Bitcoin use mechanisms like CeFi lending, wBTC wrapping in DeFi, or emerging Layer-2 solutions.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="stake"
    columns={3}
    items={[
      {
        icon: 'tabler:steam',
        callToAction: {
          target: '',
          text: 'Stake BTC',
          href: '#',
        },
      },
      {
        icon: 'tabler:building-bridge',
        callToAction: {
          target: '',
          text: 'Bridge',
          href: '#',
        },
      },
      {
        icon: 'tabler:wallet',
        callToAction: {
          target: '',
          text: 'BUY Wallet',
          href: '#',
        },
      },
    ]}
    image={{
      src: 'https://i.postimg.cc/136h4T7t/btc.png',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script> <div class="livecoinwatch-widget-5" lcw-base="USD" lcw-color-tx="#0693e3" lcw-marquee-1="coins" lcw-marquee-2="movers" lcw-marquee-items="30" ></div>
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">What is Staking?</h2>
      <p>
      Proof-of-Stake protocols use staking to create consensus. By locking native tokens into a validator - or indexers on Monad blockchain -, you earn the right to secure a chain and earn rewards on your stake. Due to its environmental efficiency, staking has overtaken mining and is used far more often in newer protocols. 
      </p>
      <br />
      <p>
       How it Works.
      </p>
      <br />
      <p> By locking a protocol’s native tokens to give “validators” the right to secure a chain. Validators propose new blocks or attest other validators’ blocks, gaining rewards for doing so.</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="rewards"
    title="Staking rewards work "
    items={[
      {
        title:
          ' Lock Tokens:<br /> <span class="font-normal">Select asset: </span> <br /> <span class="text-sm font-normal">Hold duration:  </span>',
        description: `Exchange Staking: One-click staking through platforms like Coinbase or Binance.Staking Pools: Combining funds with others via services like Lido Finance.Solo Staking: Running your own dedicated computer validator node..`,
        icon: 'tabler:wallet',
      },
      {
        title:
          'Secure Network :  <br /> <span class="font-normal">Choose Highly Rated Infrastructure:</span> <br /> <span class="text-sm font-normal">Evaluate Validator Metrics: </span>',
        description: `staking operates in "epochs". Staking actions (like delegating or compounding) usually become active at the start of the next epoch, which occurs approximately every 5.5 hours.`,
        icon: 'tabler:settings-2',
      },
      {
        title:
          'Earn Payouts :  <br /> <span class="font-normal">Select Validator:</span> <br /> <span class="text-sm font-normal">Withdraw Safely:</span>',
        description: `Delegating is generally not instantly withdrawable. To unstake, you must initiate an "undelegate" request and typically wait until the end of an epoch.`,
        icon: 'tabler:clock-dollar',
      },
      {
        title:
          'Compounding :  <br /> <span class="font-normal">Mechanism: </span> <br /> <span class="text-sm font-normal">Liquid staking: </span>',
        description: ` Native staking does not auto-compound; you must manually claim or call a compound function to add rewards back into your staked balance.`,
        icon: 'tabler:new-section',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  
 
  <!-- Content Widget **************** -->

  <Content
    id="pos"
    title="The Mechanics of Staking"
    subtitle="Staking is built on a consensus mechanism called Proof-of-Stake (PoS). Instead of using massive computers to solve mathematical puzzles (like Bitcoin's Proof-of-Work), PoS networks rely on users who stake their own crypto as a security deposit."
    isReversed
    items={[
      {
        title: 'Validation: ',
        description:
          ' The network randomly selects validators to propose and confirm new blocks of data (transactions) on the blockchain.',
      },
      {
        title: 'Collateral: ',
        description:
          ' Your locked crypto acts as collateral; if the validator acts dishonestly or goes offline, they risk losing a portion of their staked assets (a process called "slashing").',
      },
      {
        title: 'Rewards:  ',
        description:
          ' If the network confirms the validator performed their duties accurately, they earn a portion of the transaction fees or newly minted tokens.',
      },
    ]}
    image={{
      src: 'https://i.postimg.cc/tgZmhLK7/meca.png',
      alt: 'Tech Design Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Proof-of-Stake (PoS): <br /><span class="text-2xl">Choose Your Staking Method</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  
  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Client testimonials"
    subtitle="Discover what clients have to say about their experiences working with me."
    testimonials={[
      {
        testimonial: `She took our vague concept and turned it into a visual masterpiece that perfectly aligned with our goals. Her attention to detail and ability to translate ideas into compelling visuals exceeded our expectations.`,
        name: 'Ethereum',
        job: 'Creative director',
        image: {
          src: 'https://cryptologos.cc/logos/ethereum-eth-logo.png',
          alt: 'Mark Thompson Image',
        },
      },
      {
        testimonial: `She transformed our brand identity with her creative finesse, capturing our essence in every element. Her dedication and talent truly shine through her work.`,
        name: 'Solana',
        job: 'CEO',
        image: {
          src: 'https://cryptologos.cc/logos/solana-sol-logo.png',
          alt: 'Emily Martinez Image',
        },
      },
      {
        testimonial: `She has an uncanny ability to communicate emotions and stories. She crafted a logo for our NGO that not only represents our cause but also evokes empathy. Her professionalism and commitment make her a designer of exceptional caliber.`,
        name: 'Binance',
        job: 'Founder of an NGO',
        image: {
          src: 'https://cryptologos.cc/logos/bnb-bnb-logo.png',
          alt: 'Laura Simmons Image',
        },
      },
      {
        testimonial: `We entrusted Sarah with revamping our website's user interface, and the results were astounding. Her intuitive design sense enhanced user experience, leading to a significant increase in engagement. She's a designer who truly understands the synergy of aesthetics and functionality.`,
        name: 'Monad',
        job: 'Director of web services',
        image: {
          src: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Alex Foster Image',
        },
      },
      {
        testimonial: `She took our vision and elevated it beyond imagination. Her ability to capture brand essence and translate it into design is nothing short of remarkable. Working with her has been an inspiring journey.`,
        name: 'Jessica Collins',
        job: 'Product Manager',
        image: {
          src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',
          alt: 'Jessica Collins Image',
        },
      },
      {
        testimonial: `Her ability to transform concepts into captivating visuals is nothing short of extraordinary. She took our event poster idea and turned it into a visual masterpiece that perfectly captured the essence of our festival. Sarah's dedication, creativity, and knack for delivering beyond expectations make her an invaluable asset to any project.`,
        name: 'Michael Carter',
        job: 'Event Coordinator',
        image: {
          src: 'https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Michael Carter Image',
        },
      },
    ]}
  />

   <script>
  (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

  ChannelIO('boot', {
    "pluginKey": "aaf5fdca-a626-4b78-b14f-b26abc0da15b"
  });
</script>
</Layout>
