---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Bitcoin Staking',
};
---

<Layout metadata={metadata}>
 <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=6a50d8c6033ecd05221a3d40&product=sop' async='async'></script>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'Stake BTC', href: '#about' },
        { text: 'Work', href: '#resume' },
        { text: 'Reward', href: '#porfolio' },
        { text: 'Network', href: '#testimonials' },
       
      ]}
      actions={[
        {
          text: 'EXCHANGE',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Bitcoin Staking"
    tagline=""
    
    actions={[
      {
        variant: 'primary',
        text: 'Stake NOW',
        href: '#',
        target: '',
        icon: 'tabler:steam',
      },
      {
        text: '',
        text: 'BUY.Wallet',
        href: '#',
        target: '',
        icon: 'tabler:droplet-half',
      },
    ]}
  >
    <Fragment slot="subtitle">
      Bitcoin does not natively support staking because its blockchain runs on a Proof-of-Work (PoW) consensus mechanism secured by miners rather than token-locking validators. However, "Bitcoin staking" now exists via innovative layer-2 protocols, liquid staking derivatives, and smart-contract integrations that allow holders to generate passive yield on their BTC.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:droplet-half',
        callToAction: {
          target: '_blank',
          text: 'Liquidity',
          href: '#',
        },
      },
      {
        icon: 'tabler:steam',
        callToAction: {
          target: '_blank',
          text: 'Stake NOW',
          href: '#',
        },
      },
      {
        icon: 'tabler:wallet',
        callToAction: {
          target: '_blank',
          text: 'BUY Wallet',
          href: '#',
        },
      },
    ]}
    image={{
      src: 'https://i.postimg.cc/WbM5N6Gj/BTC.png',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script> <div class="livecoinwatch-widget-5" lcw-base="USD" lcw-color-tx="#0693e3" lcw-marquee-1="coins" lcw-marquee-2="movers" lcw-marquee-items="30" ></div>
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">What is Bitcoin Staking?</h2>
      <p>
       Bitcoin staking is a process that allows you to lock your native Bitcoin (BTC) to secure external Proof-of-Stake (PoS) blockchains and earn rewards, all without bridging, wrapping, or relinquishing custody of your assets.
      </p>
      <br />
      <p>
        Proof-of-Work (PoW) 
      </p>
      <br />
      <p>Because Bitcoin uses a Proof-of-Work (PoW) consensus model, true native staking is not built into the Bitcoin base layer. However, emerging trustless protocols, most notably the Babylon Bitcoin Staking Protocol, enable this process through the following mechanics:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="How They Work"
    items={[
      {
        title:
          'Liquidity Providers (LPs): ',
        description: `Everyday users lock their cryptocurrencies into a smart contract, usually in equal value pairs (e.g., 50%  . ETH and 50%  USDC) to create a market for that specific token pair.`,
        icon: 'tabler:circle-dashed-check',
      },
      {
        title:
          'Automated Market Makers (AMMs): ',
        description: `nstead of using a human broker, AMM algorithms manage the price of the assets based on their ratio inside the pool. If a trader buys ETH from an ETH/USDC pool, the supply of ETH drops, causing its price to increase automatically to keep the pool balanced.`,
        icon: 'tabler:brand-walmart',
      },
      {
        title:
          'LP Tokens: ',
        description: `In exchange for providing capital, LPs are issued "LP tokens" that represent their fractional ownership of the pool.`,
        icon: 'tabler:clock-bitcoin',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  

  
  <!-- Content Widget **************** -->

  <Content
    id="porfolio"
    title="Non-Custodial Vaults:"
    subtitle="For a quick, visual guide on exactly how liquidity pools work and how providers earn their fees:"
    isReversed
    items={[
      {
        title: 'Passive Income:',
        description:
          ' LPs receive a proportional share of the trading fees generated by the platform. Users can also stake these LP tokens in other platforms for "yield farming" incentives.',
      },
      {
        title: 'Impermanent Loss:',
        description:
          ' This is a major risk for liquidity providers. If the price ratio of the two deposited tokens diverges significantly from when they were deposited, the LP may suffer a financial loss compared to simply holding the tokens in their wallet.',
      },
      {
        title: 'Smart Contract Vulnerabilities:',
        description:
          '  Because liquidity pools are managed entirely by code, any bugs or exploits in the smart contract can result in a loss of deposited funds.',
      },
    ]}
    image={{
      src: 'https://i.postimg.cc/D0smkzbw/ll2.png',
      alt: 'Tech Design Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        How do Bitcoin Staking work? <br /><span class="text-2xl">Liquidity providers (LPs)</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  
  <!-- Testimonials Widget *********** -->

  
   <Content
    id="network"
    title="Leading Non-Custodial Staking Platforms"
    subtitle="The list below breaks down the top decentralized protocols and structural choices for retail and institutional stakers:"
    testimonials={[
      {
        testimonial: `Non-Custodial Protocol Staking `,
        name: 'Bitcoin',
        job: 'BTC',
        image: {
          src: 'https://cryptologos.cc/logos/bitcoin-btc-logo.png',
          alt: 'btc',
        },
      },
      {
        testimonial: `Non-Custodial Protocol Staking `,
        name: 'Ethereum',
        job: 'ETH',
        image: {
          src: 'https://cryptologos.cc/logos/ethereum-eth-logo.png',
          alt: 'eth',
        },
      },
      {
        testimonial: `Non-Custodial Protocol Staking `,
        name: 'Solana ',
        job: 'SOL',
        image: {
          src: 'https://cryptologos.cc/logos/solana-sol-logo.png',
          alt: 'sol',
        },
      },
      {
        testimonial: `Non-Custodial Protocol Staking `,
        name: 'Monad',
        job: 'MON',
        image: {
          src: 'https://static.chainbroker.io/mediafiles/projects/monad/monad.jpeg',
          alt: 'Alex Foster Image',
        },
      },
      {
        testimonial: `Non-Custodial Protocol Staking `,
        name: 'Avalanche',
        job: 'AVAX',
        image: {
          src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',
          alt: 'Jessica Collins Image',
        },
      },
      {
        testimonial: `Non-Custodial Protocol Staking`,
        name: 'Polygon',
        job: 'POL',
        image: {
          src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',
          alt: 'pol',
        },
      },
      {
        testimonial: `Non-Custodial Protocol Staking`,
        name: 'Telegram',
        job: 'GRAM',
        image: {
          src: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoql9VhetW1abqoZJgJmnB__zUGq5_LW9DcvlRJTHKEQ&s',
          alt: 'Jessica Collins Image',
        },
      },
      {
        testimonial: `Non-Custodial Protocol Staking`,
        name: 'Arbitrum',
        job: 'ARB',
        image: {
          src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',
          alt: 'arb',
        },
      },
      {
        testimonial: `Non-Custodial Protocol Staking`,
        name: 'Moonbean',
        job: 'BEAN',
        image: {
          src: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCqobaptdIrsaYYX8bkl7XIIc6IMFJH7iR6VF-_djxdA&s',
          alt: 'bean',
        },
      },
    ]}
  />
   <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  

 <script>
  (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

  ChannelIO('boot', {
    "pluginKey": "aaf5fdca-a626-4b78-b14f-b26abc0da15b"
  });
</script>
</Layout>
