---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'CASHo.xyz | Trusted Blockchains Validator',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
   <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=6a1d75f325e4255ba09ba2f7&product=sop' async='async'></script>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
     
    ]}
  
  >
     <Fragment slot="title">

      <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/8f406cee-b6c1-4247-a1d0-81984b9bd8cc/cBvZfZXi8w.lottie" speed="1" style="width: 100%; height: 100px" mode="forward" loop autoplay></dotlottie-wc>

      Monad<span class="hidden xl:inline"></span>
      <span class="text-accent dark:text-white"> Staking</span> 
    </Fragment>
     <Fragment slot="subtitle">
     <span class="hidden sm:inline"></span>
      <span class="text-accent dark:text-white"> Staking Platform Services Trusted by Institutions</span> 
   
      </Fragment>

    <Fragment slot="subtitle">
       <CallToAction
    actions={[
      {
        text: 'primary',
        text: 'Goldsky',
        href: 'hhttps://monad-space.itrocket.net/validators/0x02e64ecc7ae9b79eddf987aea68b5439f34a6fc4d1d04c665671666a7ee2d4eedc',
        target: '_blank',
        icon: 'tabler:link',
      },
      {
        text: 'primary',
        text: 'CMS.Hold',
        href: 'https://monad-space.itrocket.net/validators/0x02ae1ba7bb248a470a5265bd0533e996165952b0535530acc1d75088e9b5854b5c',
        target: '_blank',
        icon: 'tabler:link',
      },
      {
        text: 'primary',
        text: 'Polkachu',
        href: 'https://monad-space.itrocket.net/validators/0x035f6154a9c5ecdda02616f0411e7ce992e1bc257286e5adb722e768922de23d39',
        target: '_blank',
        icon: 'tabler:link',
      },
      {
        text: 'primary',
        text: 'Staking',
        href: '/stake/MON',
        target: '',
        icon: 'tabler:external-link',
      },
    ]}
  >
    <Fragment slot="title">
      <script src="https://cdn.lordicon.com/lordicon.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/gfpplxaf.json"
    trigger="hover"
    colors="primary:#ffffff,secondary:#110a5c,tertiary:#d1f3fa,quaternary:#ffffff,quinary:#16c79e"
    style="width:100%;height:400px">
</lord-icon>
    </Fragment>

    <Fragment slot="subtitle">
      Experience secure and low-cost Proof of Stake (PoS) services with us. Rely on us to safeguard your assets while ensuring your control in.
    </Fragment>
  </CallToAction>
  
      <span class="hidden sm:inline">
        <span class="font-semibold"></span> 
        </span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600"></span>
      Enterprise-grade validator.infrastructure for Proof-of-Stake networks. Stake your assets with confidence and earn consistent rewards.
    </Fragment>
  </Hero>
 <script>
  (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

  ChannelIO('boot', {
    "pluginKey": "fe3b58c7-6561-4bfe-8e90-9ac7ad4e46ed"
  });
</script>
</Layout>
